.container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: calc(var(--default-padding) * 4);
  max-width: var(--desktop-width);
  margin: 0 auto;
  padding: 0 var(--default-padding);
  @media (max-width: 600px) {
    gap: calc(var(--default-padding) * 2);
  }
}
